<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="../../static/css/login.css"> <!-- CSS 파일 가져오기 -->
</head>
<body>
<form th:action="@{/register}" th:object="${user}" method="post" autocomplete="off">
    <input type="hidden" id="actionType" name="actionType" value="signup">
    <div class="form signup">
        <div class="form-header">
            <div class="show-signup">Sign Up</div>
            <div class="show-signin">Sign In</div>
            <div class="show-reset">Reset</div>
        </div>
        <div class="arrow"></div>
        <div class="form-elements">
            <div class="form-element">
                <input type="text" id="username" th:field="*{username}" placeholder="ID">
            </div>
            <div class="form-element">
                <input type="password" id="password" th:field="*{password}" placeholder="Password">
            </div>
            <div class="form-element">
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}"
                       placeholder="Confirm password">
            </div>
            <div class="form-element">
                <input type="text" id="name" th:field="*{name}"
                placeholder="Name">
            </div>
            <div class="form-element">
                <select th:field="*{sex}">
                    <option value="" selected>성별을 선택하세요.</option>
                    <option value="남자">남자</option>
                    <option value="여자">여자</option>
                </select>
            </div>
            <div class="form-element">
                <button type="submit" id="submit-btn">Sign Up</button>
            </div>
        </div>
    </div>
</form>
<script src="/js/login.js"></script>
</body>
</html>
