<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/bodyHeader.css">
    <link rel="stylesheet" href="/css/myPage.css">
</head>
<body>
<div th:replace="~{fragments/bodyheader :: bodyHeader}"></div>
<main>
    <aside class="sidebar">
        <div class="profile">
            <img src="/image/mypage_icon.png" alt="Profile">
            <p th:text="${userName}"></p>
        </div>
        <ul class="menu">
            <li><a href="#">내 카풀 목록</a></li>
            <li><a href="#">내 정보 관리</a></li>
            <li><a href="#">비밀번호 변경</a></li>
            <li><a href="#" class="danger">회원 탈퇴</a></li>
        </ul>
    </aside>
    <section class="content">
        <h2>받은 카풀 신청</h2>
        <div class="request-list">
            <div th:each="booking : ${bookings}" class="request-card">
                <div class="request-info">
                    <div class="info-item"><span class="info-value">이름:</span> <span th:text="${booking.getUser().getUsername()}"></span></div>
                    <div class="info-item"><span class="info-value">성별:</span> <span th:text="${booking.getUser().getSex()}"></span></div>
                    <div class="info-item"><span class="info-value">전화번호:</span> <span th:text="${booking.getPhoneNumber()}"></span></div>
                    <div class="info-item"><span class="info-value">경유지:</span> <span th:text="${booking.getPickupLocation()}"></span></div>
                    <div class="info-item"><span class="info-value">메세지:</span> <span th:text="${booking.getMessage()}"></span></div>
                    <div class="request-date">신청날짜: <span th:text="${booking.getBookingTime()}"></span></div>
                </div>
                <div class="actions-container">
                    <form th:action="@{/carpoolRequest/{bookingId}/{carpoolId}/accept(bookingId=${booking.getBookingId()}, carpoolId=${booking.getCarpool().getCarpoolId()})}" method="post">
                        <button class="action-button accept">수락하기</button>
                    </form>
                    <form th:action="@{/carpoolRequest/{bookingId}/reject(bookingId=${booking.getBookingId()})}" method="post">
                        <button class="action-button reject">거절하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>