<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<header class="bodyHeader" th:fragment="bodyHeader">
    <div class="bodyHeader-container">
        <a href="/" class="bodyHeader-logo">
            <img src="/image/logo.png" alt="로고" class="navbar-logo"
                 style="width: 200px !important; height: auto !important;">
        </a>

        <ul class="bodyHeader-nav">
            <li><a href="#" class="bodyHeader-nav-item active">Home</a></li>
            <li><a href="#" class="bodyHeader-nav-item">Features</a></li>
            <li><a href="#" class="bodyHeader-nav-item">Pricing</a></li>
            <li><a href="#" class="bodyHeader-nav-item">FAQs</a></li>
            <li><a href="#" class="bodyHeader-nav-item">About</a></li>
        </ul>
        <form class="bodyHeader-search-form">
            <input type="search" placeholder="Search..." aria-label="Search">
        </form>
        <!-- 로그인 -->
        <div class="bodyHeader-buttons" th:if="${loggedInUser == null}">
            <form th:action="@{/login}" method="get">
                <button class="bodyHeader-button bodyHeader-button-outline-light">로그인</button>
                <button class="bodyHeader-button bodyHeader-button-warning">회원가입</button>
            </form>
        </div>

        <div class="dropdown" th:if="${loggedInUser != null}">
            <!-- 마이페이지 아이콘 -->
            <a href="#" class="mypage-icon" id="dropdownMenuButton">
                <img src="/image/mypage_icon.png" alt="마이페이지" width="44" height="44">
            </a>
            <!-- 드롭다운 메뉴 -->
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/myCarpoolRequest" class="dropdown-item">마이페이지</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item logout-button">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/bodyHeader.js"></script>
</header>
</html>
