<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹페이지 예시</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bodyHeader.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/popUp.css"> <!-- popup.css 연결 -->
</head>
<body>
<!-- Header and Navbar -->
<div th:replace="~{fragments/bodyheader :: bodyHeader}"></div>

<!-- Hero Section -->
<section class="hero-section">
    <div class="hero-content">
        <div class="placeholder-text">Placeholder Text</div>
        <div class="placeholder-text small">Small Placeholder Text</div>
        <div class="placeholder-text small">Another Small Placeholder Text</div>
        <div class="btn-group">
            <button class="btn btn-dark">Button</button>
            <button class="btn btn-dark">Button</button>
            <button class="btn btn-success">Button</button>
        </div>
    </div>
</section>


<!-- Cards Section -->
<section class="cards-section">
    <!-- "내 차에 태우기" 카드 -->
    <div class="card" id="driveCard">
        <img src="/image/drive_image.jpg" alt="내 차에 태우기 이미지" class="card-img">
        <p>내 차 등록하기</p>
    </div>


    <!-- "다른 차에 탑승하기" 카드 -->
    <div class="card" id="carpoolCard">
        <img src="/image/128820_64899_2726.jpg" alt="Image 2" class="card-img">
        <p>다른 차에 탑승하기</p>
    </div>

    <!-- 등록된 차 보기 카드 -->
    <form th:action="@{/carList}" method="get">
        <button class="card">
            <img src="/image/330751707375854377.jpg" alt="Image 3" class="card-img">
            <p>등록된 차 보기</p>
        </button>
    </form>
</section>

<!-- "내 차에 태우기" 팝업창 구조 -->
<div id="drivePopup" class="popup-overlay">
    <form th:action="@{/carpools/registerCar}" th:object="${carInfo}" method="post">
        <div class="popup-content">
            <span class="popup-close" id="closeDrivePopup">×</span> <!-- 우측 상단 X 버튼 추가 -->
            <h2 class="popup-header">내 차 등록하기</h2>

            <div class="form-group">
                <label for="sido">목적지를 선택하세요:</label>
                <select id="sido" name="sido" th:field="*{firstStartAddress}" onchange="updateSigungu()">
                    <option value="" disabled selected>목적지의 시/도를 선택하세요</option>
                    <option value="서울특별시">서울특별시</option>
                    <option value="부산광역시">부산광역시</option>
                    <option value="경기도">경기도</option>
                    <!-- 추가 시도 옵션 -->
                </select>
            </div>

            <div class="form-group">
                <select id="sigungu" name="sigungu" th:field="*{secondStartAddress}" disabled>
                    <option value="" disabled selected>목적지의 시/군/구를 선택하세요</option>
                </select>
            </div>

            <div>
                <label>
                    <input type="text" placeholder="상세 주소를 입력하세요." th:field="*{detailedAddress}" style="width: 100%">
                </label>
            </div>

            <hr>

            <div class="form-group">
                <label for="transitSido">경유 가능한 지역을 선택하세요:</label>
                <div class="dropdown-group">
                    <select id="transitSido" name="transitSido" th:field="*{firstTransitAddress1}" onchange="updateTransitSigungu('transitSido', 'transitSigungu')">
                        <option value="" disabled selected>시/도를 선택하세요</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="경기도">경기도</option>
                        <!-- 추가 시도 옵션 -->
                    </select>
                    <select id="transitSigungu" name="transitSigungu" th:field="*{secondTransitAddress1}" disabled>
                        <option value="" disabled selected>시/군/구를 선택하세요</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="dropdown-group">
                    <select id="transitSido2" name="transitSido2" th:field="*{firstTransitAddress2}" onchange="updateTransitSigungu('transitSido2', 'transitSigungu2')">
                        <option value="" disabled selected>시/도를 선택하세요</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="경기도">경기도</option>
                        <!-- 추가 시도 옵션 -->
                    </select>
                    <select id="transitSigungu2" name="transitSigungu2" th:field="*{secondTransitAddress2}" disabled>
                        <option value="" disabled selected>시/군/구를 선택하세요</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="dropdown-group">
                    <select id="transitSido3" name="transitSido3" th:field="*{firstTransitAddress3}" onchange="updateTransitSigungu('transitSido3', 'transitSigungu3')">
                        <option value="" disabled selected>시/도를 선택하세요</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="경기도">경기도</option>
                        <!-- 추가 시도 옵션 -->
                    </select>
                    <select id="transitSigungu3" name="transitSigungu3" th:field="*{secondTransitAddress3}" disabled>
                        <option value="" disabled selected>시/군/구를 선택하세요</option>
                    </select>
                </div>
            </div>

            <label>희망 카풀 요금을 입력하세요.</label>
            <div class="popup-row">
                <input type="text" id="drivePopupStartFare2" class="popup-input" th:field="*{minDesiredCharge}" placeholder="Value"/>
                <span style="align-self: center;">~</span>
                <input type="text" id="drivePopupEndFare2" class="popup-input" th:field="*{maxDesiredCharge}" placeholder="Value"/>
            </div>

            <label for="drivePopupGender">희망 성별을 선택하세요</label>
            <select id="drivePopupGender" class="popup-select" th:field="*{sex}">
                <option value="" disabled selected hidden>성별을 선택하세요</option>
                <option value="male">남성</option>
                <option value="female">여성</option>
                <option value="no_preference">성별을 밝히기 싫음</option>
            </select>
            <button type="submit" id="popupRegisterButton" class="popup-button">등록하기</button>
        </div>
    </form>
</div>

<!-- "다른 차에 탑승하기" 팝업창 구조 -->
<div id="carpoolPopup" class="popup-overlay">
    <div class="popup-content">
        <span class="popup-close" id="closeCarpoolPopup">×</span> <!-- 우측 상단 X 버튼 추가 -->
        <h2 class="popup-header">다른 차에 탑승하기</h2>

        <label for="popupStartLocation">희망 픽업 지역을 입력하세요</label>
        <input type="text" id="popupStartLocation" class="popup-input" placeholder="Value"/>

        <label>희망 카풀 요금을 입력하세요.</label>
        <div class="popup-row">
            <input type="text" id="carpoolPopupStartFare" class="popup-input" placeholder="Value"/>
            <span style="align-self: center;">~</span>
            <input type="text" id="carpoolPopupEndFare" class="popup-input" placeholder="Value"/>
        </div>

        <label for="popupGenderCarpool">희망 성별을 선택하세요</label>
        <select id="popupGenderCarpool" class="popup-select">
            <option value="" disabled selected hidden>성별을 선택하세요</option>
            <option value="male">남성</option>
            <option value="female">여성</option>
            <option value="no_preference">성별을 밝히기 싫음</option>
        </select>

        <form th:action="@{/carList}" method="get">
            <button id="popupSearchButton" class="popup-button">검색하기</button>
        </form>
    </div>
</div>


<!-- popUp.js 연결 -->
<script src="/js/popUp.js"></script>
</body>
</html>
